/* *{
    font-size: 12px;
    color: red;
    background-color: blue;
} */


/* header{
    color: blue;
}

article{
    background-color: aliceblue;
    color: red;
}

header h1{
    color: green;

} */

/* .header-section{
    color: red;
}
.para-1{
    color: green;
} */

header.header-section > h1{
    color: blue;
}